<div class="row">
	<div class="col-md-6">
		<%= form_for([@user, @character, @email_account ], html: {class: "form"}) do |f| %>
		  <div class="form-group">
		  	<%= f.label "Address" %>
		  	<%= f.text_field :address, class: "form-control" %>
		  </div>
		  <div class="form-group">
		  	<%= f.label "SMTP Server Address" %>
		  	<%= f.text_field :smtp_address, class: "form-control" %>
		  </div>		  
			<div class="form-group">
		  	<%= f.label "User Name" %>
		  	<%= f.text_field :user_name, class: "form-control" %>
		  </div>		  
		  <div class="form-group">
		  	<%= f.label "Domain" %>
		  	<%= f.text_field :domain, class: "form-control" %>
		  </div>
		  <div class="form-group">
		  	<%= f.label "Password" %>
		  	<%= f.text_field :password, class: "form-control" %>
		  </div>
		  <div class="form-group">
		  	<%= f.label "port" %>
		  	<%= f.text_field :port, class: "form-control" %>
		  </div>

		  <%= f.button "Save", class: "btn btn-success", type: "submit" %>
			<%= link_to "Cancel", user_character_path(@user, @character), class: "btn btn-warning" %>
		<% end %>		
	</div>
</div>


