<div class="row">
	<div class="col-md-6">
		<%= form_for([@story, @scene, @choice ], html: {class: "form"}) do |f| %>
		  <div class="form-group">
		  	<%= f.label "Text" %>
		  	<%= f.text_field :text, class: "form-control" %>
		  <%# todo: select target scene from among all scenes in story that do not yet have a target_scene_id %>
		  </div>
		  <%= f.button "Save", class: "btn btn-success", type: "submit" %>
			<%= link_to "Cancel", edit_story_scene_path(@story, @scene), class: "btn btn-warning" %>
		<% end %>		
	</div>
</div>


