<%= simple_form_for [@story, @scene, @choice ] do |f| %>
  <%= f.input :text %>
  <%# todo: select target scene from among all scenes in story that do not yet have a target_scene_id %>
  <%= f.button :submit %>
<% end %>

<div>
	<p>
		<%= link_to "Cancel", edit_story_scene_path(@story, @scene) %>
	</p>
</div>

<hr>
<div>
	<p>
		<%= link_to "<<< Back to scene", edit_story_scene_path(@story, @scene) %>		
	</p>
</div>
