
<table class="table">
<thead>
	<tr>
		<th>Text</th>
		<th>Goto or Create</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
</thead>
<tbody>
	<% @scene.choices.each do |choice| %>
	<tr>
		<td><%= choice.text %></td>
		<% if choice.target_scene_id.present? %>
			<td><%= link_to "Goto Target scene", edit_story_scene_path(@story,choice.target_scene) %></td>
		<% else %>
			<td><%= link_to "Create Target Scene",story_scene_choice_create_target_scene_path(@story, @scene, choice), method: 'post' %></td>
		<% end %>
		<td><%= link_to "Edit", edit_story_scene_choice_path(@story, @scene, choice) %></td>
		<td><%= link_to "Delete", story_scene_choice_path(@story, @scene, choice), method: 'delete' %></td>
	</tr>
	<% end %>
</tbody>
</table>

<div class="row">
	<div class="col-md-6">
		<%= link_to "Create Choice", new_story_scene_choice_path(@story, @scene), class: 'btn btn-default' %>		
	</div>
</div>



