		<%= form_for([@story, @scene], html: {class: "form"}) do |f| %>
		  <div class="form-group">
		  	<%= f.label "Subject" %>
		  	<%= f.text_field :subject, class: "form-control" %>
		  </div>
		  <div class="form-group">
		  	<%= f.label "Body" %>
			  <%= f.text_area :body, class: "form-control" %>
			</div>
			<%= f.button "Save", class: "btn btn-default", type: "submit" %>
		<% end %>	
