<h1>Story: <%= @story.title %></h1>
<p><%= link_to "Edit Story Settings", edit_story_path(@story) %></p>


<h2>Characters in this story:</h2>
<ul>
	<% @story.characters.each do |character| %>
		<li><%= character.full_name %></li>
	<% end %>
</ul>

<%= form_for [@story], html: {class: "form"} do |f| %>
	<%= f.label "Default Character" %>
	<%= f.collection_select(
										:default_character_id, 
										@story.characters,
										:id.to_s,
										:full_name, 
										include_blank: '---',
										class: "form-control" 
																					) %>
	<%= f.submit "Set Default Character for Story", class: "btn btn-default" %>
<% end %>

<h2>Scenes:</h2>
<%# No scenes yet %>
<% if @story.scenes.count == 0 %>
<p><%= link_to "Create introduction", new_story_scene_path(@story), class: 'btn btn-default' %></p>

<%# Has scenes %>
<% else %>
<div class="row">
	<div class="col-md-6">
		<% @story.scenes.each do |scene| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>Subject: <%= scene.subject %> </p>	
			</div>
			<div class="panel-body">
				<p>Body: <%= scene.body %></p>		
			
				<% if scene.choices? %>
					<% scene.choices.each do |choice| %>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Choice</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= choice.text %></td>
								<td><%= link_to "edit", edit_story_scene_choice_path(@story, scene, choice)%></td>
								<td>
									<% if choice.target_scene_id.present? %>
									<%= link_to "goto target scene", edit_story_scene_path(@story, choice.target_scene) %>
									<% else %>
									<%= link_to "create target scene", story_scene_choice_create_target_scene_path(@story, scene, choice), method: 'post' %>
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>						
					<% end %>
				<% end %>
				<p><%= link_to "Edit Scene", edit_story_scene_path(@story, scene), class: "btn btn-default" %></p>
				<p><%= link_to "Delete", story_scene_path(@story, scene), method: "delete", class: "btn btn-default" %></p>
			</div>
		</div>
		<% end %>
	</div>
</div><!-- /row -->

	<p><%= link_to "Create new scene", new_story_scene_path(@story), class: 'btn btn-default' %></p>
	<br>
	<p><%= link_to "Delete Story", story_path(@story), class: 'btn btn-default', method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this story? It will be gone forever more."} %></p>
<% end %>