<div class="row">
	<div class="col-md-6">
		<%= form_for [@user, @character], html: {class: 'form'} do |f| %>
			<div class="form-group">
				<%= f.label "First Name" %>
				<%= f.text_field :first_name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label "Last Name" %>
				<%= f.text_field :last_name, class: "form-control" %>
			</div>
			<%= f.submit class: "btn btn-success" %>
			<%= link_to "Cancel", stories_path, class: "btn btn-warning" %>
		<% end %>		
	</div>
</div>
